<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h1 style="color: rgb(89, 48, 191);" class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted"></p>

    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Galería de producto</h5>
    </div>

    <div class="card-body">
        <div style="max-width: 48rem;">

            <!-- <div class="row mb-3">
                <div class="col-md-4">
                    <img [src]="url + 'obtener_portada/' + producto.portada" alt="{{producto.titulo}}">
                </div>

                <div class="col-md-8">
                    <div class="card" style="height: 100%; background-color: #c6fff0; border-color: #03CEA4;">
                        <div class="card-body">
                            <h3 class="card-product-title mb-2">
                                <a class="nav-link mb-3">{{producto.titulo}}</a>
                                <p><small>{{producto.descripcion}}</small></p>

                                <div class="d-flex align-items-center">
                                   
                                    <span class="h5 d-inline-block mb-0 text-success">$ {{producto.precio}}</span>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="form-group row align-items-center">
                <label class="col-md-3 col-form-label font-weight-medium" for="text-input"></label>
                <div class="col-md-9 mb-3">
                    <!-- Button addon on the right -->
                    
                    <div class="input-group">
                        <input style="border: 1px solid rgb(89, 48, 191);" id="input-img" class="form-control" type="file" (change)="fileChangeEvent($event)">
                        <button style="background-color: rgb(89, 48, 191);color: white;" class="btn" type="button" 
                            (click)="subir_imagen()" [disabled]="file == undefined">
                            Subir imagen</button>

                        <!-- Button with growing spinner and text -->
                        <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Subiendo...
                        </button>
                    </div>

                </div>

                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <div class="table-responsive mt-2">

                        <table  class="table table-sm table-bordered text-center" *ngIf="producto.galeria">
                            <thead style="background-color: rgb(89, 48, 191);color: white;" class="">
                                <tr >
                                    <th>Título</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <ng-container *ngIf="producto.galeria.length == 0">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><span class="text-danger">No hay imágenes
                                                diponibles</span></td>
                                    </tr>
                                </tbody>
                            </ng-container>

                            <ng-container *ngIf="producto.galeria.length >= 1">
                                <tbody *ngFor="let item of producto.galeria; let indice = index">
                                    <tr>
                                        <td><img  [src]="url + 'obtener_portada/' + item.imagen"
                                                    style="width: 10vw;"></td>
                                                    
                                        <td><a class="bi-trash-fill text-danger"
                                            style="cursor: pointer;" data-toggle="modal" 
                                            [attr.data-target]="'#delete-' + item._id"></a>
                                    </td>
                                    </tr>

                                    <div class="modal fade" id="delete-{{ item._id }}" tabindex="-1" style="display: none"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title text-center">
                                                    Eliminar galería
                                                </h4>
                                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"
                                                    aria-label="Close">
                                                    x
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="fs-sm">
                                                    Desea eliminar esta imagen?
                                                </p>
                                                <p><img  [src]="url + 'obtener_portada/' + item.imagen"
                                                    style="width: 10vw;"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm bi-x-circle-fill" type="button"
                                                    data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button *ngIf="!load_btn_eliminar" class="btn btn-danger btn-sm bi-trash-fill"
                                                    (click)="eliminar(item._id)" type="button">
                                                    Eliminar
                                                </button>

                                                <!-- Button with growing spinner and text -->
                                                <button *ngIf="load_btn_eliminar" type="button" class="btn btn-secondary">
                                                    <span class="spinner-grow spinner-grow-sm me-2" role="status"
                                                        aria-hidden="true" disabled></span>
                                                    Eliminando...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </tbody>
                            </ng-container>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- <div class="card-footer text-center">
        <a class="btn btn-warning mx-2" [routerLink]="['/panel/productos']"> <i class="cxi-arrow-back"></i> </a>
    </div> -->

</div>