<app-nav></app-nav>

<main class="cs-page-wrapper mt-5">

    <!-- Productos nuevos -->
    <section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-3">
        <div class="text-center mb-5 pb-2">
            <h2 class="h1">Tienda de calzados</h2>
            <a style="color:red" [routerLink]="['/productos']" class="font-size-lg"><strong>Ver productos de calzados</strong></a>
        </div>

        <div class="row" *ngIf="load_nuevos">
            <div class="col-12">
                <!-- Custom size border spinner -->
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"></div>
                    <h5 class="text-black-50"><small>Cargando...</small></h5>
                </div>
            </div>
        </div>

        <!-- Product carousel -->
        <div class="cs-carousel cs-nav-outside" *ngIf="!load_nuevos">
            <div class="row pt-0 justify-content-center">
                <!-- Item -->
                <div *ngFor="let item of productos_nuevos">
                    <div class="card mx-4 mb-5 card-product rounded shadow card-hover">
                        <div class="card-product-img">
                            <a [routerLink]="['/productos/', item.slug]" class="card-img-top">
                                <img [src]="url + 'obtener_portada/' + item.portada" alt="{{item.titulo}}">
                            </a>
                            <div class="card-product-widgets-top">
                                <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                    -{{descuento_activo.descuento}}%
                                </span>

                                <span class="badge product-badge badge-danger ml-2" *ngIf="item.descuento > 0">
                                    -{{item.descuento}}%
                                </span>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a [routerLink]="['/productos/', item.slug]" class="nav-link"> {{item.titulo}} </a>
                            </h3>
                            <div *ngIf="descuento_activo == undefined && item.descuento == undefined">
                                <span class="h5 d-inline-block mb-0 text-warning">S/. {{item.precio}}</span>
                            </div>

                            <div *ngIf="descuento_activo == undefined && item.descuento > 0">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{item.precio}}
                                </span>
                                <del class="d-inline-block ml-1 text-muted"> <small>S/. {{item.precio +
                                        item.precio*item.descuento/100}}</small> </del>
                            </div>

                            <div *ngIf="descuento_activo != undefined" class="">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{item.precio | descuento: descuento_activo.descuento}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{item.precio}}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="">
        <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{}'>
        </div>
    </section>

    <section>
        <div class="container w-75 mt-5 mb-5 rounded-4">
            <div class="row align-items-stretch">
            </div>
    
            <div class="ro">
            </div>
    
            <div class="row">
                <h1>Mision</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, modi, adipisci perferendis culpa velit eius placeat omnis aspernatur deserunt vitae quis recusandae esse magnam earum asperiores voluptatum pariatur alias possimus.</p>
            </div>
    
            <div class="row">
                <h1>Visión</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repellendus amet repellat suscipit doloribus molestiae quaerat odio vitae nobis enim, blanditiis numquam reprehenderit nulla debitis incidunt esse earum cumque at. <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae nisi est, error voluptatum facere dolorem doloremque reiciendis possimus unde repellendus dolorum neque corrupti accusamus eligendi vitae, iure distinctio consequatur eos.
            </div>
    
    
        </div>
    </section>
</main>


<app-footer></app-footer>