<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted"></p>

    </div>
</div>

<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Registro del producto</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Titulo</label>
                            <input style="border: 1px solid rgb(89, 48, 191);" type="text" class="form-control" name="titulo" [(ngModel)]="producto.titulo"
                                placeholder="Titulo de producto" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Stock</label>
                            <input style="border: 1px solid rgb(89, 48, 191);" type="number" class="form-control" name="stock" [(ngModel)]="producto.stock"
                                placeholder="Cantidad" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Precio</label>
                            <input style="border: 1px solid rgb(89, 48, 191);" type="number" class="form-control" name="precio" [(ngModel)]="producto.precio"
                                placeholder="Precio" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Categoría</label>
                            <select style="border: 1px solid rgb(89, 48, 191);" class="form-control custom-select" id="select-input" name="categoria"
                                [(ngModel)]="producto.categoria" required>
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="{{item.titulo}}" *ngFor="let item of config_global.categorias">
                                    {{item.titulo}}</option>
                            </select>
                        </div>

                        <div class="col-lg-12 form-group">
                            <label for="">Realice una descripcion corta</label>
                            <textarea class="form-control" placeholder="Titulo de producto" name="descripcion"
                                [(ngModel)]="producto.descripcion" required rows="5"></textarea>
                        </div>

                        <!-- <div class="col-lg-12 form-group">
                            <tinymce [config]="config" name="contenido" [(ngModel)]="producto.contenido"></tinymce>
                        </div> -->

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Portada</label>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" id="file-input"
                                    (change)="fileChangeEvent($event)">
                                <label class="custom-file-label" id="input-portada" for="file-input"
                                    style="white-space: nowrap; overflow: hidden;">Seleccionar imagen</label>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-danger mx-2 bi-file-plus-fill" type="submit" *ngIf="!load_btn" [disabled]="!registroForm.valid"> 
                Crear producto</button>

            <!-- Button with growing spinner and text -->
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Creando...
            </button>

            <!-- <button class="btn btn-warning mx-2" [routerLink]="['/panel/productos']"><i class="cxi-arrow-back"></i></button> -->
        </div>
    </div>
</form>