<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h2 style="color:rgb(89, 48, 191)" class="mt-2 mt-md-4 mb-3 pt-5 ">CONFIGURACIONES</h2>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted"></p>
    </div>
</div>

<form #configForm="ngForm" (ngSubmit)="actualizar(configForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <div class="row align-items-between">
                <div class="col-6">
                    <h5 style="margin-bottom: 0px;">Módulo de configuraciones de categorias</h5>
                </div>

                <!-- <div class="col-6">
                    <button class="btn btn-primary mr-3 bi-check-circle-fill" type="submit" [disabled]="configForm.invalid">
                        Guardar cambios
                    </button>
                </div> -->
            </div>
        </div>

        <div class="card-body">
            <div class="mx-4">

                <!-- Nombre de la tienda -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label font-weight-medium" for="nombre">Nombre de la
                        tienda</label>
                    <div class="col-9">
                        <input class="form-control" type="text" id="nombre" placeholder="Nombre" name="titulo"
                            [(ngModel)]="config.titulo" required>
                    </div>
                </div> -->

                <!-- Tipo de cambio -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label font-weight-medium text-primary" for="cambio">
                        Tipo de cambio $ a S/.
                    </label>
                    <div class="col-9">
                        <input class="form-control" type="number" id="cambio" placeholder="Valor de cambio" name="tipo_cambio"
                            [(ngModel)]="config.tipo_cambio" required>
                    </div>
                </div> -->

                <!-- Serie y correlativo de faturación -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label font-weight-medium" for="serie">Facturación</label>
                    <div class="col-4">
                        <input class="form-control" type="text" id="serie" placeholder="Serie" name="serie"
                            [(ngModel)]="config.serie" required>
                    </div>
                    <div class="col-5">
                        <input class="form-control" type="text" id="text-input" placeholder="Correlativo"
                            name="correlativo" [(ngModel)]="config.correlativo">
                    </div>
                </div> -->

                <!-- Categorías -->
                <div class="form-group row align-items-center">
                    <!-- <label class="col-3 col-form-label font-weight-medium" for="categorias">Categorías</label> -->
                    <div class="col-4">
                        <input style="border: solid 1px rgb(89, 48, 191);" class="form-control" type="text" id="categorias" placeholder="Titulo" name="titulo_cat"
                            [(ngModel)]="titulo_cat">
                    </div>
                    <div class="col-5">
                        <input style="border: solid 1px rgb(89, 48, 191);" class="form-control" type="text" id="text-input" placeholder="Icono" name="icono_cat"
                            [(ngModel)]="icono_cat">
                    </div>

                    <div class="col-3">

                    </div>
                    <div class="col-9">
                        <a style="cursor: pointer;background-color: rgb(89, 48, 191);color: white;" class="my-3 text-center btn col-5"
                            (click)="agregar_cat(configForm)">
                            Guardar cambios</a>

                        <div class="table-responsive mt-2">

                            <table class="table table-sm text-center" *ngIf="config.categorias">
                                <thead style="background-color: rgb(89, 48, 191); color: white" class="">
                                    <tr>
                                        <th>Categoria</th>
                                        <th>Icono</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <ng-container *ngIf="config.categorias.length == 0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><span class="text-danger">Aún no hay categorías
                                                    diponibles</span></td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                                <ng-container *ngIf="config.categorias.length >= 1">
                                    <tbody *ngFor="let item of config.categorias; let indice = index">
                                        <tr>
                                            <td>{{item.titulo}}</td>
                                            <td><i class="{{item.icono}}"></i></td>
                                            <td><a class="bi-trash-fill text-danger" style="cursor: pointer"
                                                    (click)="eliminar_categoria(indice)"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>

                </div>

                <!-- Logo -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label font-weight-medium" for="file-input">Logo</label>
                    <div class="col-9">

                        <div class="cs-file-drop-area">
                            <div class="cs-file-drop-preview img-thumbnail rounded">
                                <img [src]="imgSelect">
                            </div>

                            <span class="cs-file-drop-message">Arratre la imagen y suelte</span>
                            <input type="file" class="cs-file-drop-input" (change)="fileChangeEvent($event)">
                            
                        </div>
                    </div>
                </div> -->


                <!-- Banners -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Banners</label>
                    <div class="col-md-9 mb-3">
                        
                        <div class="input-group">
                            <input id="input-img" class="form-control" type="file" (change)="fileChangeEventBan($event)">
                            <button class="btn btn-success bi-upload" type="button" 
                                (click)="subir_imagen()" [disabled]="file == undefined">
                                Subir</button>
    
                            
                            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                                Subiendo...
                            </button>
                        </div>
                    </div>
    
                    <div class="col-md-3">
    
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive mt-2">
    
                            <table class="table table-sm table-bordered text-center" *ngIf="config.banners">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Banner</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
    
                                <ng-container *ngIf="config.banners.length == 0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><span class="text-danger">No hay imágenes
                                                    diponibles</span></td>
                                        </tr>
                                    </tbody>
                                </ng-container>
    
                                <ng-container *ngIf="config.banners.length >= 1">
                                    <tbody *ngFor="let item of config.banners; let indice = index">
                                        <tr>
                                            <td><img  [src]="url + 'obtener_banner/' + item.imagen"
                                                        style="width: 10vw;" class="rounded"></td>
                                                        
                                            <td><a class="bi-trash-fill text-danger"
                                                style="cursor: pointer;" data-toggle="modal" 
                                                [attr.data-target]="'#delete-' + item._id"></a>
                                        </td>
                                        </tr>
    
                                        <div class="modal fade" id="delete-{{ item._id }}" tabindex="-1" style="display: none"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title text-center">
                                                        Eliminar banner
                                                    </h4>
                                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                        x
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="fs-sm">
                                                        Desea eliminar esta imagen?
                                                    </p>
                                                    <p><img  [src]="url + 'obtener_banner/' + item.imagen"
                                                        style="width: 10vw;"></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary btn-sm bi-x-circle-fill" type="button"
                                                        data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <button *ngIf="!load_btn_eliminar" class="btn btn-danger btn-sm bi-trash-fill"
                                                        (click)="eliminar(item._id)" type="button">
                                                        Eliminar
                                                    </button>
    
                                                    
                                                    <button *ngIf="load_btn_eliminar" type="button" class="btn btn-secondary">
                                                        <span class="spinner-grow spinner-grow-sm me-2" role="status"
                                                            aria-hidden="true" disabled></span>
                                                        Eliminando...
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>
    
                </div> -->

                <!-- Misión -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label font-weight-medium" for="mision">Misión </label>
                    <textarea class="form-control col-9" placeholder="Ingrese la misión" name="mision" id="mision"
                        [(ngModel)]="config.mision" required rows="5"></textarea>
                </div> -->

                <!-- Visión -->
                <!-- <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label font-weight-medium" for="vision">Visión </label>
                    <textarea class="form-control col-9" placeholder="Ingrese la Visión" name="vision" id="vision"
                        [(ngModel)]="config.vision" required rows="5"></textarea>
                </div> -->

                <!-- Términos y condiciones -->
                <!-- <div class="form-group row align-items-center py-1 rounded" style="background-color: rgb(208, 235, 255);">
                    <label class="col-3 col-form-label font-weight-medium text-primary" for="term_cond">
                        Términos y condiciones
                    </label>
                    
                    <div class="col-9">
                        <tinymce name="term_cond" [(ngModel)]="config.term_cond" id="term_cond"></tinymce>
                    </div>
                </div> -->

                <!-- Política de privacidad -->
                <!-- <div class="form-group row align-items-center py-1 rounded" style="background-color: rgb(255, 235, 207);">
                    <label class="col-3 col-form-label font-weight-medium text-warning" for="politica_privacidad">
                        Política de provacidad
                    </label>
                    
                    <div class="col-9">
                        <tinymce name="politica_privacidad" [(ngModel)]="config.politica_privacidad" id="politica_privacidad"></tinymce>
                    </div>
                </div> -->
            </div>

        </div>
        <!-- <div class="card-footer text-center">
            <button class="btn btn-primary mr-3 bi-check-circle-fill" type="submit" [disabled]="configForm.invalid">
                Guardar cambios
            </button>
        </div> -->
    </div>
</form>