<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h2 style="color:rgb(89, 48, 191)" class="mt-2 mt-md-4 mb-3 pt-5 ">CONFIGURACIONES</h2>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted"></p>
    </div>
</div>

<form #configForm="ngForm" (ngSubmit)="actualizar(configForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <div class="row align-items-between">
                <div class="col-6">
                    <h5 style="margin-bottom: 0px;">Módulo de configuraciones de categorias</h5>
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="mx-4">
                <!-- Categorías -->
                <div class="form-group row align-items-center">
                    <div class="col-4">
                        <input style="border: solid 1px rgb(89, 48, 191);" class="form-control" type="text"
                            id="categorias" placeholder="Titulo" name="titulo_cat" [(ngModel)]="titulo_cat">
                    </div>
                    <div class="col-5">
                        <input style="border: solid 1px rgb(89, 48, 191);" class="form-control" type="text"
                            id="text-input" placeholder="Icono" name="icono_cat" [(ngModel)]="icono_cat">
                    </div>
                    <div class="col-3"></div>
                    <div class="col-9">
                        <a style="cursor: pointer;background-color: rgb(89, 48, 191);color: white;"
                            class="my-3 text-center btn col-5" (click)="agregar_cat(configForm)">
                            Guardar cambios</a>

                        <div class="table-responsive mt-2">
                            <table class="table table-sm text-center" *ngIf="config.categorias">
                                <thead style="background-color: rgb(89, 48, 191); color: white" class="">
                                    <tr>
                                        <th>Categoria</th>
                                        <th>Icono</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <ng-container *ngIf="config.categorias.length == 0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><span class="text-danger">Aún no hay categorías
                                                    diponibles</span></td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                                <ng-container *ngIf="config.categorias.length >= 1">
                                    <tbody *ngFor="let item of config.categorias; let indice = index">
                                        <tr>
                                            <td>{{item.titulo}}</td>
                                            <td><i class="{{item.icono}}"></i></td>
                                            <td><a class="bi-trash-fill text-danger" style="cursor: pointer"
                                                    (click)="eliminar_categoria(indice)"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>