<app-nav></app-nav>

<main class="cs-page-wrapper mt-5">

    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mis direcciones</li>
            </ol>
        </div>
    </nav>

    <!-- Page container -->
    <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

            <!-- Account menu (sticky sidebar) -->
            <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
                <app-sidebar></app-sidebar>
            </aside>

            <!-- Content -->
            <div class="col-lg-8 ml-auto">
                <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
                    <h1 class="h2 mb-0">Nueva dirección</h1>
                </div>

                <form #registroForm="ngForm" (ngSubmit)="registrar(registroForm)" class="mb-4">
                    <div class="row pb-3">
                        <div class="col-sm-6 form-group">
                            <label for="dest" class="form-label">Destinatario</label>
                            <input required type="text" class="form-control form-control-lg" name="destinatario"
                                [(ngModel)]="direccion.destinatario" placeholder="Nombres del destinatario" id="dest">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="dni" class="form-label">DNI</label>
                            <input required type="text" class="form-control form-control-lg" name="dni" maxlength="8"
                                [(ngModel)]="direccion.dni" placeholder="DNI" id="dni">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="zip" class="form-label">Zip</label>
                            <input required type="text" class="form-control form-control-lg" name="zip"
                                [(ngModel)]="direccion.zip" placeholder="Código postal" id="zip">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input required type="text" class="form-control form-control-lg" name="telefono"
                                maxlength="9" [(ngModel)]="direccion.telefono" placeholder="Teléfono" id="telefono">
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="direccion" class="form-label">Dirección</label>
                            <textarea name="direccion" class="form-control form-control-lg" rows="3"
                                [(ngModel)]="direccion.direccion" placeholder="Dirección" id="direccion"></textarea>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="pais" class="form-label">País</label>
                            <select name="pais" [(ngModel)]="direccion.pais" id="pais" required
                                class="custom-select custom-select-lg" (change)="select_pais()">
                                <option selected disabled value="">--Seleccionar--</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Chile">Chile</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="España">España</option>
                                <option value="Estados Unidos">Estados Unidos</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Haití">Haití</option>
                                <option value="Honduras">Honduras</option>
                                <option value="México">México</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Panamá">Panamá</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Perú</option>
                                <option value="República Dominican">República Dominican</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Venezuela">Venezuela</option>
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="region" class="form-label">Región</label>
                            <select name="region" [(ngModel)]="direccion.region" id="region"
                                class="custom-select custom-select-lg" disabled (change)="select_region()">
                                <option selected disabled value="">--Seleccionar--</option>
                                <option value="{{item.id}}" *ngFor="let item of regiones"> {{item.name}} </option>
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select name="provincia" [(ngModel)]="direccion.provincia" id="provincia"
                                class="custom-select custom-select-lg" disabled (change)="select_provincia()">
                                <option selected disabled value="">--Seleccionar--</option>
                                <option value="{{item.id}}" *ngFor="let item of provincias"> {{item.name}} </option>
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="distrito" class="form-label">Distrito</label>
                            <select name="distrito" [(ngModel)]="direccion.distrito" id="distrito"
                                class="custom-select custom-select-lg" disabled>
                                <option selected disabled value="">--Seleccionar--</option>
                                <option value="{{item.id}}" *ngFor="let item of distritos"> {{item.name}} </option>
                            </select>
                        </div>

                        <div class="col-sm-12 form-group">
                            <div class="custom-control custom-checkbox text-center">
                                <input class="custom-control-input" type="checkbox" id="ex-check-1" name="principal"
                                    [(ngModel)]="direccion.principal">
                                <label class="custom-control-label" for="ex-check-1">Dirección principal</label>
                            </div>
                        </div>
                    </div>

                    <div class="justify-content-center row">
                        <button type="submit" class="btn btn-success btn-lg bi-pin-map-fill"
                            [disabled]="registroForm.invalid">
                            Crear dirección</button>
                    </div>
                </form>

                <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
                    <h1 class="h2 mb-0">Mis direcciones</h1>
                </div>

                <!-- Precargador -->
                <ng-container *ngIf="load_direcciones">
                    <div class="row">
                        <div class="col-12 text-center">
                            <!-- Custom size border spinner -->
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="!load_direcciones">
                    <!-- Con dirección -->
                    <div class="row mx-2 justify-content-center" *ngIf="direcciones.length >= 1">
                        <!-- Header and footer -->
                        <div class="shadow text-center col-sm-12 mb-3 rounded" *ngFor="let item of direcciones">
                            <div class="card-header">ZIP: {{item.zip}}
                                <a class="text-danger bi-trash-fill" style="margin-left: 30vw; cursor: pointer;"
                                    data-toggle="modal" [attr.data-target]="'#delete'">
                                </a>

                                <!-- MODAL -->
                                <div class="modal fade" id="delete" tabindex="-1" style="display: none"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title text-center">
                                                    Eliminar dirección
                                                </h4>
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                    data-dismiss="modal" aria-label="Close">
                                                    x
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="fs-sm">Desea eliminar la dirección?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm bi-x-circle-fill" type="button"
                                                    data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button class="btn btn-danger btn-sm" (click)="eliminar_direccion(item._id)"
                                                    type="button" data-dismiss="modal"> <i class="bi-trash-fill"></i>
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{item.destinatario}}</h5>
                                <p class="card-text">{{item.direccion}}
                                    <span> - {{item.distrito}}</span>
                                    <span> - {{item.provincia}}</span>
                                    <span> - {{item.region}}</span>
                                    <span> - {{item.pais}}</span>
                                </p>
                                <a class="btn btn-sm btn-primary" *ngIf="!item.principal"
                                    (click)="establcer_principal(item._id)">
                                    Establecer principal
                                </a>
                                <span class="badge rounded-pill bg-info text-white" *ngIf="item.principal">
                                    Dirección de envío actual
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Sin dirección -->
                    <div class="mx-2" *ngIf="direcciones.length == 0">
                        <div class="col-lg-12 card align-items-center py-4 rounded"
                            style="background-color: rgb(255, 207, 207); border-color: rgb(255, 66, 66);">
                            <h4 class="text-danger">
                                Debe registrar una dirección de envío</h4>

                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#FF4242"
                                class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                <path
                                    d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                                <path
                                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                            </svg>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>