<app-nav></app-nav>

<main class="cs-page-wrapper">
    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Registro</li>
            </ol>
        </div>
    </nav>

    <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 card shadow pb-4 mx-4">
                <div class="px-md-5">
                    <br>
                    <h3 style="color: red;text-align: center;font-size: 80px;" class=" bi-person-vcard-fill mb-0"></h3>
                    <h3 class="modal-title mt-0 mb-0 text-center">Registro</h3>
                    <p class="font-size-sm text-muted text-center"></p>
                    
                    <form #registroForm="ngForm" (ngSubmit)="registrar(registroForm)">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="nombres" class="form-label">Nombres</label>
                                    <input type="text" class="form-control" placeholder="Nombres" id="nombres"
                                        name="nombres" [(ngModel)]="user.nombres" required>
                                </div>
                                <div class="col-lg-6">
                                    <label for="apellidos" class="form-label">Apellidos</label>
                                    <input type="email" class="form-control" placeholder="Apellidos" id="apellidos"
                                        name="apellidos" [(ngModel)]="user.apellidos" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" placeholder="Ingrese su correo" id="email"
                                name="email" [(ngModel)]="user.email" required>
                        </div>

                        <div class="form-group">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" placeholder="Ingrese su teléfono" id="telefono"
                                name="telefono" [(ngModel)]="user.telefono" required>
                        </div>

                        <div class="form-group">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" class="form-control" placeholder="Ingrese su DNI" required id="dni"
                                name="dni" [(ngModel)]="user.dni">
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="signin-password" class="form-label">Contraseña</label>
                                <div class="cs-password-toggle input-group-overlay">
                                    <input type="password" class="form-control appended-form-control"
                                        id="signin-password" placeholder="Contraseña" required name="password1"
                                        [(ngModel)]="password1">
                                    <div class="input-group-append-overlay">
                                        <label class="btn cs-password-toggle-btn input-group-text">
                                            <input type="checkbox" class="custom-control-input">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="signin-password1" class="form-label">Confirmar contraseña</label>
                                <div class="cs-password-toggle input-group-overlay">
                                    <input type="password" class="form-control appended-form-control"
                                        id="signin-password1" placeholder="Contraseña" required name="password"
                                        [(ngModel)]="user.password" (keyup)="compare_password()">
                                    <div class="input-group-append-overlay">
                                        <label class="btn cs-password-toggle-btn input-group-text">
                                         
                                            <span  class="sr-only">Mostrar contraseña</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="alert-danger mt-2" role="alert" *ngIf="alert_pass">
                                    <em><small>Las contraseñas no coinciden</small></em>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center form-group">
                           
                            <a href="#" class="font-size-sm text-decoration-none">Olvidó su contraseña?</a>
                        </div>
                        <button type="submit" id="reg" class="btn btn-danger btn-block"
                            [disabled]="registroForm.invalid || !valid">
                            Registrarme
                        </button>
                        <p class="font-size-sm pt-4 text-center">
                            Ya tienes una cuenta?
                            <a [routerLink]="['/login']" class="font-weight-bold text-decoration-none text-danger">
                                Iniciar sesión</a>
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>