<app-nav></app-nav>

<main class="cs-page-weapper mt-5">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
      </ol>
    </div>
  </nav>

  <!-- Misión -->
  <div class="text-center">
    <h2 class="text-center text-primary pt-2">Nuestra misión</h2>
    <div class="row pt-3 pb-2">
      <div class="col-sm-6 col-12">
        <img class="mb-4 rounded mx-4 shadow" src="assets\img\ecommerce\home\nosotros\01.jpg" alt="business"
          style="width: 80vw;">
      </div>

      <div class="col-sm-6 col-12">
        <p class="ml-4 pr-4" [innerHTML]="config_global.mision" style="font-size: 1.3rem;"></p>
      </div>
    </div>

    <!-- Visión -->
    <h2 class="text-center text-primary pt-2">Nuestra visión</h2>
    <div class="row pt-3 pb-2">
      <div class="col-sm-6 col-12">
        <img class="mb-4 rounded mx-4 shadow" src="assets\img\ecommerce\home\nosotros\02.jpg" alt="business"
          style="width: 80vw;">
      </div>

      <div class="col-sm-6 col-12">
        <p class="ml-4 pr-4" [innerHTML]="config_global.vision" style="font-size: 1.3rem;"></p>
      </div>
    </div>
  </div>


  <!-- nuestro compromiso-->
  <div class="container pt-3 pb-2 pb-sm-5">
    <h2 class="text-p text-center">Nuestro Compromiso</h2>
    <div class="row py-1 justify-content-between">
      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="68" fill="currentColor" class="bi bi-calendar-check"
          viewBox="0 0 16 16">
          <path
            d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        <p class="icon-0 mb-0 text-muted">Te ofrecemos garantía en todos nuestros productos</p>
      </div>

      <span class="divider-vertical d-sm-block d-none"></span>
      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="68" fill="currentColor" class="bi bi-cash-coin"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
          <path
            d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
          <path
            d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
          <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
        </svg>
        <p class="icon-0 mb-0 text-muted">Te ofrecemos los mejores precios del mercado en todos nuestros productos</p>
      </div>

      <span class="divider-vertical d-sm-block d-none"></span>
      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <svg class="image3" xmlns="http://www.w3.org/2000/svg" width="68" fill="currentColor" class="bi bi-person-check"
          viewBox="0 0 16 16">
          <path
            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
          <path
            d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
        </svg>
        <p class="icon-0 mb-0 text-muted">Te brindamos el mejor servicio de venta</p>
      </div>
    </div>
  </div>


</main>

<app-footer></app-footer>