<app-nav></app-nav>

<main class="cs-page-wrapper mt-5">

  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalle de la orden</li>
      </ol>
    </div>
  </nav>

  <!-- Page container -->
  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">

      <!-- Account menu (sticky sidebar) -->
      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <app-sidebar></app-sidebar>
      </aside>

      <!-- Content -->
      <div class="col-lg-8 ml-auto" *ngIf="orden != undefined">
        <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-2">
          <h3 class="mb-0">Orden #{{id | uppercase}} </h3>

        </div>

        <div class="row">
          <div class="col-12 mb-4">
            <div class="card card-body py-3 box-shadow ">
              <div class="row">
                <div class="col-lg-6">
                  <table class="table mb-0">
                    <tbody>
                      <tr>
                        <th class="border-0 py-2 pl-0">Orden No:</th>
                        <td class="border-0 py-2 px-0 text-muted">{{id | uppercase}}</td>
                      </tr>
                      <tr>
                        <th class="border-0 py-2 pl-0">Envío:</th>
                        <td class="border-0 py-2 px-0 text-muted"> {{orden.envio_titulo}} </td>
                      </tr>
                      <tr>
                        <th class="border-0 py-2 pl-0">Fecha:</th>
                        <td class="border-0 py-2 px-0 text-muted"> {{orden.createdAt | date}} </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="col-lg-6">
                  <table class="table mb-0">
                    <tbody>

                      <tr>
                        <th class="border-0 py-2 pl-0">Venta:</th>
                        <td class="border-0 py-2 px-0 text-muted"> {{orden.nventa}} </td>
                      </tr>
                      <tr>
                        <th class="border-0 py-2 pl-0">Transaccion:</th>
                        <td class="border-0 py-2 px-0 text-muted"> {{orden.transaccion}} </td>
                      </tr>
                      <tr>
                        <th class="border-0 py-2 pl-0">Estado:</th>
                        <td class="border-0 py-2 px-0 text-muted"> {{orden.estado}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div>
                <div class="my-2" *ngIf="orden.estado == 'Reservado'">
                  <p class="rounded p-2" style="background-color: rgb(255, 191, 191);">
                    Recuerde enviar el código de venta "<strong>
                      {{id | uppercase}} </strong>" así como el comprobante de la transferencia o depósito
                    al WhatsApp <a>921680694</a>.
                  </p>
                </div>
              </div>

              <div class="text-center">
                <div class="my-2" *ngIf="orden.estado == 'Enviado'">
                  <button class="btn btn-warning" data-toggle="modal" [attr.data-target]="'#recibe-' + orden._id">
                    <i class="cxi-check"></i> Confirmar recibido
                  </button>
                </div>
              </div>

              <!-- Modal recibido -->
              <div class="modal fade" id="recibe-{{ orden._id }}" tabindex="-1" style="display: none"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title text-center">
                        Confirmación de recepción
                      </h4>
                      <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal" aria-label="Close">
                        x
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      Confirmar la recepción de {{ orden._id | uppercase}}? <br><br>
                      <small class="text-warning">No se olvide de calificar el producto y la reseña. GRACIAS.</small>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary btn-sm bi-x-circle-fill" type="button" data-dismiss="modal">
                        Cancelar
                      </button>
                      <button *ngIf="!load_btn" class="btn btn-warning btn-sm"
                        (click)="cambiar_estado_recibido (orden._id)" type="button">
                        <i class="cxi-checkmark"></i>
                        Confirmar
                      </button>

                      <!-- Button with growing spinner and text -->
                      <button *ngIf="load_btn" type="button" class="btn btn-secondary">
                        <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"
                          disabled></span>
                        Confirmando...
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card dirección principal -->
          <div class="col-12 mb-4" *ngIf="orden.direccion">
            <div class="shadow text-center col-sm-12 rounded card">
              <div class="card-header">ZIP: {{orden.direccion.zip}}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{orden.direccion.destinatario}}</h5>
                <p class="card-text">{{orden.direccion.direccion}}
                  <span> - {{orden.direccion.distrito}}</span>
                  <span> - {{orden.direccion.provincia}}</span>
                  <span> - {{orden.direccion.region}}</span>
                  <span> - {{orden.direccion.pais}}</span>
                </p>
                <span class="badge rounded-pill bg-info text-white" *ngIf="orden.direccion.principal">
                  Dirección de envío actual
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-bottom">
          <div id="order-1" class="collapse show" data-parent="#orders">
            <div class="bg-secondary rounded shadow">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <tbody>

                    <tr *ngFor="let item of detalles">
                      <td class="border-top-0">
                        <div class="media pl-2 py-2">
                          <a style="min-width: 80px;">
                            <img [src]="url + 'obtener_portada/' + item.producto.portada" width="80" alt="Product thumb"
                              class="rounded">
                          </a>
                          <div class="media-body pl-3">
                            <h3 class="font-size-sm mb-3">
                              <a class="nav-link font-weight-bold">
                                {{item.producto.titulo}}
                              </a>
                            </h3>
                            <ul class="list-unstyled font-size-xs mt-n2 mb-2">
                              <li class="mb-0">
                                <span class="text-muted">
                                  {{item.producto.titulo_variedad}}:
                                </span>
                                {{item.variedad}}
                              </li>
                            </ul>
                            <a style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#review-' + item._id"
                              (click)="openModal(item)" *ngIf="!item.estado">
                              <!-- Info badge -->
                              <span class="badge text-white rounded-pill bg-info" *ngIf="orden.estado == 'Recibido'">
                                <i class="cxi-chat"></i> &nbsp;
                                Emitir reseña
                              </span>
                            </a>
                            <span class="badge rounded-pill bg-success" *ngIf="item.estado">
                              <i class="cxi-chat"></i> &nbsp;
                              Emitido
                            </span>

                            <div class="modal fade" id="review-{{item._id}}" tabindex="-1" style="display: none;"
                              aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Emitir reseña de {{item.producto.titulo}}</h4>
                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"
                                      aria-label="Close"><i class="cxi-cross"></i></button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Comentario -->
                                    <div class="row">
                                      <div class="col-sm-12 form-group">
                                        <label for="review" class="form-label">Reseña</label>
                                        <textarea name="review" class="form-control form-control-lg" rows="3"
                                          [(ngModel)]="review.review" placeholder="Qué te pareció el producto?"
                                          id="review"></textarea>
                                      </div>
                                    </div>

                                    <!-- Estrellas -->
                                    <star-rating [value]=total_star [totalstars]=total_star checkedcolor="gold"
                                      uncheckedcolor="gray" size="45px" (rate)="onRate($event)"></star-rating>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
                                      <i class="cxi-cross"></i>
                                    </button>

                                    <button class="btn btn-info btn-sm" type="button" (click)="emitir(item._id)">
                                      <i class="cxi-check-round"></i>
                                      Enviar
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="border-top-0">
                        <div class="py-2">
                          <div class="font-size-xs text-muted mb-1">Precio:</div>
                          <div class="font-size-sm text-dark">S/. {{item.producto.precio}} </div>
                        </div>
                      </td>
                      <td class="border-top-0">
                        <div class="py-2" *ngIf="item.descuento >= 0">
                          <div class="font-size-xs text-muted mb-1">Descuento: {{item.descuento}}%</div>
                          <div class="font-size-sm text-danger">S/. {{item.producto.precio * item.descuento/100}} </div>
                        </div>
                      </td>
                      <td class="border-top-0">
                        <div class="py-2">
                          <div class="font-size-xs text-muted mb-1">Cantidad:</div>
                          <div class="font-size-sm text-dark"> {{item.cantidad}} </div>
                        </div>
                      </td>
                      <td class="border-top-0">
                        <div class="py-2 pr-3 text-right">
                          <div class="font-size-xs text-muted mb-1">Subtotal:</div>
                          <div class="font-size-sm font-weight-bold text-dark">S/. {{item.subtotal}}</div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                      </td>
                      <td>
                        <div class="py-2">
                          <span class="font-size-xs text-muted">Envío: </span>
                          <span class="font-size-sm text-dark">S/. {{orden.envio_precio}} </span>
                        </div>
                      </td>
                      <td>
                      </td>
                      <td>
                      </td>
                      <td>
                        <div class="py-2 pr-3 text-right">
                          <span class="font-size-xs text-muted">Total: </span>
                          <span class="font-size-sm font-weight-bold text-dark">S/. {{orden.subtotal}} </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sin órdenes -->
      <div class="col-lg-8 ml-auto" *ngIf="orden == undefined">
        <div class="col-lg-12 card align-items-center py-4 rounded"
          style="background-color: rgb(255, 207, 207); border-color: rgb(255, 66, 66);">
          <h4 class="text-danger">ERROR 404</h4>
          <h5 class="text-muted">No se encontró detalles con este orden</h5>

          <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#FF4242"
            class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
            <path
              d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
            <path
              d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
          </svg>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>