<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Dashboard <small style="font-weight: lighter;">(ventas por año)</small></h1>
</div>

<!-- Productos -->
<div class="row mb-5 text-center">

    <div class="col-12">
        <h3>Productos</h3>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row gx-0">
                    <div class="col">
                        <h6 class="text-muted mb-2">
                            Ganancia total
                        </h6>
                        <span class="h5 mb-0">
                            S/. {{ganancia_total}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row gx-0">
                    <div class="col">
                        <h6 class="text-muted mb-2">
                            Mes actual
                        </h6>
                        <span class="h5 mb-0">
                            S/. {{total_mes}}
                        </span>
                    </div>
                    <div>
                        <small class="text-success mb-0" *ngIf="total_mes - total_mes_anterior > 0">
                            + {{(total_mes - total_mes_anterior_programas)*100/total_mes}}%
                            <i class="cxi-arrow-up"></i>
                        </small>

                        <small class="text-danger mb-0" *ngIf="total_mes_programas - total_mes_anterior_programas < 0">
                            - {{(total_mes - total_mes_anterior)*100/total_mes}}%
                            <i class="cxi-arrow-down"></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row gx-0">
                    <div class="col">
                        <h6 class="text-muted mb-2">
                            N° Ventas total
                        </h6>
                        <span class="h5 mb-0">
                            {{count_ventas}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <div class="row gx-0">
                        <div class="col">
                            <h6 class="text-muted mb-2">
                                Mes anterior
                            </h6>
                            <span class="h5 mb-0">
                                S/. {{total_mes_anterior}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card box-shadow-sm mb-5">
    <div style="background-color: rgb(232, 255, 255);">
        <div class="card-header">
            <h5 style="margin-bottom: 0px; color: rgb(75,192,192);">Ventas mensuales de productos</h5>
        </div>
    
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <canvas id="MyChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(237, 255, 241);">
        <div class="card-header">
            <h5 style="margin-bottom: 0px; color: rgb(83,212,123);">Cantidad de productos vendidos por mes</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <canvas id="MyChartnv"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Programas -->
<div class="row mb-5 text-center">
    <div class="col-12">
        <h3>Programas</h3>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row gx-0">
                    <div class="col">
                        <h6 class="text-muted mb-2">
                            Ganancia total
                        </h6>
                        <span class="h5 mb-0">
                            S/. {{ganancia_total_programas}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row gx-0">
                    <div class="col">
                        <h6 class="text-muted mb-2">
                            Mes actual
                        </h6>
                        <span class="h5 mb-0">
                            S/. {{total_mes_programas}}
                        </span>
                    </div>

                    <div>
                        <small class="text-success mb-0" *ngIf="total_mes_programas - total_mes_anterior_programas > 0">
                            + {{(total_mes_programas - total_mes_anterior_programas)*100/total_mes_programas}}%
                            <i class="cxi-arrow-up"></i>
                        </small>

                        <small class="text-danger mb-0" *ngIf="total_mes_programas - total_mes_anterior_programas < 0">
                            - {{(total_mes_programas - total_mes_anterior_programas)*100/total_mes_programas}}%
                            <i class="cxi-arrow-down"></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row gx-0">
                    <div class="col">
                        <h6 class="text-muted mb-2">
                            N° Ventas total
                        </h6>
                        <span class="h5 mb-0">
                            {{count_ventas_programas}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <div class="row gx-0">
                        <div class="col">
                            <h6 class="text-muted mb-2">
                                Mes anterior
                            </h6>
                            <span class="h5 mb-0">
                                S/. {{total_mes_anterior_programas}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card box-shadow-sm mt-4" style="background-color: rgb(248, 235, 255);">
    <div class="card-header">
        <h5 style="margin-bottom: 0px; color: rgb(149,99,255);">Ventas mensuales de programas</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <canvas id="MyChart1"></canvas>
            </div>
        </div>
    </div>
</div>