<app-nav></app-nav>

<main class="cs-page-weapper">
    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-3 mt-5" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{software.titulo}}</li>
            </ol>
        </div>
    </nav>

    <!-- Page title -->
    <section class="container d-md-flex align-items-center justify-content-between">
        <h1 class="mb-md-0">{{software.titulo}}</h1>
    </section>

    <!-- Single product -->
    <section class="container py-4 mb-2">
        <div class="row">
            <div class="col-md-6 mb-md-0 mb-4">
                <!-- Product gallery item -->
                <img class="rounded" [src]="url + 'obtener_portada/' + software.portada" alt="Product image">
            </div>

            <div class="col-md-6 pl-xl-5">
                <div class=" p-2 mb-1 rounded" style="background-color: rgb(215, 250, 243);">
                    <span style="font-size: 1.1rem; font-style: italic;">{{software.descripcion}}</span>
                </div>

                <div class="d-sm-flex align-items-center justify-content-between mb-4">

                    <!-- Sin descuento -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4">
                        <span class="h3 d-inline-block mb-0">
                            Precio: <strong class="text-warning">S/. {{software.precio}}</strong>
                        </span>
                    </div>
                </div>

                <!-- Payment -->
                <h2 class="h4 pt-2 mb-4">Métodos de pago</h2>
                <div class="row pb-4">
                    <div class="col-lg-12">
                        <div class="accordion-alt" id="payment-methods">

                            <!-- Card: Credit card -->
                            <div class="card mb-3 px-4 py-3 border rounded box-shadow-sm">
                                <div class="card-header py-2">
                                    <div class="accordion-heading custom-control custom-radio" data-toggle="collapse"
                                        data-target="#cc-card">
                                        <input type="radio" class="custom-control-input" id="cc" name="payment" checked>
                                        <label for="cc" class="custom-control-label d-flex align-items-center">
                                            <strong class="d-block mr-3">Tarjeta de crédito / débito</strong>
                                            <img src="assets/img/cards.png" width="108" alt="Credit cards">
                                        </label>
                                    </div>
                                </div>
                                <div class="collapse show" id="cc-card" data-parent="#payment-methods">
                                    <h4 class="text-center text-danger">En proceso de implementación</h4>
                                    <div class="card-body pt-3 pb-0">
                                        <div class="form-group mb-3">
                                            <label for="cc-number">Número de tarjeta</label>
                                            <input type="text" id="cc-number" class="form-control form-control-lg"
                                                data-format="card" placeholder="0000 0000 0000 0000">
                                        </div>
                                        <div class="d-flex">
                                            <div class="form-group mb-3 mr-3">
                                                <label for="cc-exp-date">Vencimiento</label>
                                                <input type="text" id="cc-exp-date" class="form-control form-control-lg"
                                                    data-format="date" placeholder="mm/yy">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="cc-cvc">CVC</label>
                                                <input type="text" id="cc-cvc" class="form-control form-control-lg"
                                                    data-format="cvc" placeholder="000">
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-primary btn-block bi-wallet-fill">
                                            Completar orden S/. {{total_pagar}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Transferencia -->
                            <div class="card mb-3 px-4 py-3 border rounded box-shadow-sm">
                                <div class="card-header py-2">
                                    <div class="accordion-heading custom-control custom-radio" data-toggle="collapse"
                                        data-target="#trans">
                                        <input type="radio" class="custom-control-input" id="trans" name="payment">
                                        <label for="trans" class="custom-control-label d-flex align-items-center">
                                            <strong class="d-block mr-3">Transferencia / depósito bancario</strong>
                                            <img src="assets/img/trans.png" width="200" alt="Credit cards">
                                        </label>
                                    </div>
                                </div>
                                <div class="collapse mx-4" id="trans" data-parent="#payment-methods">
                                    <!-- Cuentas -->
                                    <div class="row" *ngFor="let item of cuentas">
                                        <div class="col-12 rounded mt-3 p-3"
                                            [ngStyle]="{'background-color': item.color}">
                                            Cuenta del banco <strong>{{item.banco}}: {{item.cuenta}}</strong>, o al
                                            <strong>CCI: {{item.cci}}</strong> a nombre de <strong> {{item.titular}}
                                            </strong>
                                        </div>
                                    </div>

                                    <p class="mt-3">Estimado cliente, al momento de ralizar el depósito del monto
                                        correspondiente, enviar
                                        el <strong>código de la compra </strong> y
                                        <strong>el comprobante</strong> al whatsapp <a href="https://wa.me/51921680694"
                                            target="_blank" style="text-decoration: none;">
                                            921680694</a> o al correo
                                        <a href="mailto:support@example.coms"
                                            style="text-decoration: none;">correo@correo</a>.
                                    </p>
                                    <p class="text-danger"><strong>RECUERDE:</strong> El reservar una compra no
                                        garantiza su compra, una
                                        vez que verifiquemos el depósito,
                                        procederemos con el envío. GRACIAS.
                                    </p>

                                    <div class="row mt-4">
                                        <button class="btn btn-primary btn-block" data-toggle="modal"
                                            [attr.data-target]="'#confirm'">
                                            Reservar compra
                                        </button>

                                        <!-- MODAL -->
                                        <div class="modal fade" id="confirm" tabindex="-1" style="display: none"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center">
                                                            Reservar compra
                                                        </h4>
                                                        <button class="btn btn-secondary btn-sm" type="button"
                                                            data-dismiss="modal" aria-label="Close">
                                                            x
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="fs-sm">Desea reservar la compra?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary btn-sm bi-x-circle-fill"
                                                            type="button" data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                        <button class="btn btn-primary btn-sm"
                                                            (click)="pago_transferencia()" type="button"
                                                            data-dismiss="modal"> <i class="cxi-check"></i>
                                                            Reservar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Card: PayPal -->
                            <div class="card mb-3 px-4 py-3 border rounded box-shadow-sm">
                                <div class="card-header py-2">
                                    <div class="accordion-heading custom-control custom-radio" data-toggle="collapse"
                                        data-target="#paypal-card">
                                        <input type="radio" class="custom-control-input" id="paypal" name="payment">
                                        <label for="paypal" class="custom-control-label d-flex align-items-center">
                                            <strong class="d-block mr-3">PayPal</strong>
                                            <img src="assets/img/paypal-badge.png" width="48" alt="PayPal">
                                        </label>
                                    </div>
                                </div>
                                <div class="collapse" id="paypal-card" data-parent="#payment-methods">
                                    <div class="card-body pt-3 pb-0" #paypalButton>
                                        <p class="rounded text-center py-2"
                                            style="background-color: rgb(255, 191, 191);">
                                            El tipo de cambio está dado en base al emitido por el SUNAT: <br> <strong>
                                                1 USD <i class="cxi-arrow-right"></i>
                                                S/. {{tipo_cambio}} </strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>