<!-- Header (Topbar + Navbar) -->
<header  class="cs-header">
  <!-- Navbar -->
  <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
  <div class="navbar navbar-expand-lg navbar-light bg-light" data-fixed-element
    style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
    <div  class="container px-0 px-xl-3">
      <!-- Logo -->

      <!-- <a [routerLink]="['/']" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
        <img [src]="url + 'obtener_logo/' + logo" alt="{{logo}}" style="width: 5vw;"
          class="my-0">
      </a> -->

      <!-- Search desktop -->
      <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem">
        <input class="form-control appended-form-control" type="text" placeholder="Buscar productos..."
          name="filter_producto" [(ngModel)]="filter_producto" (keyup)="buscar_producto()" />
        <div class="input-group-append-overlay">
          <span class="input-group-text"><i class="cxi-search lead align-middle"></i></span>
        </div>
      </div>

      <!-- Toolbar -->
      <div class="d-flex align-items-center order-lg-3">
        <ul class="nav nav-tools flex-nowrap">

          <!-- Sin inicio de sesión -->
          <ng-container *ngIf="user_lc == undefined">
            <li class="nav-item d-lg-block">
              <a [routerLink]="['/login']" class="nav-tool">
                <i class="bi-person-circle nav-tool-icon"></i>
                <span style="color:rgb(89, 48, 191) ;" class="nav-tool-label"> Iniciar sesión</span>
              </a>
            </li>
          </ng-container>

          <!-- Con inicio de sesión -->
          <ng-container *ngIf="user_lc != undefined">
            <li class="nav-item d-lg-block dropdown">
              <a class="nav-tool dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                <i class="cxi-profile nav-tool-icon"></i>
                <span class="nav-tool-label"> {{user_lc.nombres}}</span>
              </a>

              <div class="dropdown-menu">
                <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active" class="dropdown-item">
                  <i class="cxi-profile me-2"></i> Perfil
                  <!-- <span class="badge rounded-pill bg-danger ms-2">3</span> -->
                </a>
                <a (click)="logout()" style="cursor: pointer;" class="dropdown-item text-danger">
                  <i class="cxi-logout me-2"></i>
                  Cerrar sesión
                </a>
              </div>
            </li>
          </ng-container>

          <li class="divider-vertical mb-0 d-lg-block d-none"></li>
          <li class="nav-item align-self-center" *ngIf="user_lc != undefined">
            <a style="cursor: pointer;" class="nav-tool pr-lg-0" (click)="op_modalcart()">
              <i style="color: rgb(89, 48, 191);" class=" bi-cart4 nav-tool-icon"></i>
              <span class="badge badge-danger align-middle mt-n1 ml-2 px-2 font-size-xs"> {{carrito_arr.length}}
              </span>
            </a>
          </li>

          <!-- carrito -->
          <li class="nav-item align-self-center mb-0" *ngIf="user_lc == undefined">
            <a style="cursor: pointer;" class="nav-tool pr-lg-0" [routerLink]="['/login']">
              <i class="cxi-cart nav-tool-icon"></i>
              <span class="badge badge-success align-middle mt-n1 ml-2 px-2 font-size-xs"> 0 </span>
            </a>
          </li>
          


          <li class="divider-vertical mb-0 d-lg-none d-block"></li>
          <li class="nav-item mb-0">
            <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
          </li>
        </ul>
      </div>

      <!-- Navbar collapse -->
      <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
        <!-- Search mobile -->
        <div class="input-group-overlay form-group mb-0 d-lg-none d-block">
          <input type="text" class="form-control prepended-form-control rounded-0 border-0"
            placeholder="Buscar productos..." name="filter_producto" [(ngModel)]="filter_producto"
            (keyup)="buscar_producto()" />
          <div class="input-group-prepend-overlay">
            <span class="input-group-text">
              <i class="cxi-search font-size-lg align-middle mt-n1"></i>
            </span>
          </div>
        </div>
        <!-- Menu -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              class="nav-link">Inicio</a>
          </li>
          
          <li class="nav-item dropdown">
            <a [routerLink]="['/productos']" routerLinkActive="active" class="nav-link dropdown-toggle"
              data-toggle="dropdown">Productos</a>
            
            <ul class="dropdown-menu">
              <li *ngFor="let item of config_global.categorias">
                <a [routerLink]="['/productos/categoria/', item.titulo.toLowerCase()]" class="dropdown-item"> <i 
                    class="{{item.icono}}"></i> &nbsp; {{item.titulo}} </a>
              </li>
            </ul>

          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- Mostrar productos de búsqueda -->
<div class="card shadow mx-4 mt-5" *ngIf="productos.length >= 1"
  style="background-color: rgb(227, 250, 255); border-color: rgb(23,105,106); justify-content: center !important;">
  <h5 class="card-title text-center mt-2" style="color:  rgb(23,105,106);">Resultados de la búsqueda: </h5>
  <div class="">
    <div *ngFor="let item of productos" class="mx-lg-6 mx-2">
      <div class="card card-body shadow rounded my-3" style="background-color: rgb(244, 253, 255);">
        <div class="row justify-content-between mx-lg-6 mx-2" [routerLink]="['/productos/', item.slug]"
          style="cursor: pointer;">
          <a [routerLink]="['/productos/', item.slug]" class="nav-item">
            {{item.titulo}}
          </a>
          <a [routerLink]="['/productos/', item.slug]" class="nav-item">
            <img [src]="url + 'obtener_portada/' + item.portada" alt="{{item.titulo}}" class="rounded-3"
              style="width: 8vw;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

class=" "
<div id="cart" class="cs-offcanvas cs-offcanvas-right">

  <!-- Header -->
  <div class="cs-offcanvas-cap align-items-center border-bottom">
    <h2 style="color: rgb(89, 48, 191);" class="h5 mb-0 bi-cart4 nav-tool-icon">   Mi carrito de compras({{carrito_arr.length}})</h2>
    <!-- <button [routerLink]="['/carrito-compras']" class="btn btn-primary" [disabled]="carrito_arr.length == 0">
      <i class="cxi-credit-card font-size-lg mt-n1 mr-1"></i>
      Pagar
    </button> -->
    <button class="close mr-n1" type="button" data-dismiss="offcanvas" aria-label="Close" (click)="op_modalcart()">
      <span class="h3 font-weight-normal mb-0" aria-hidden="true">×</span>
    </button>
  </div>

  <!-- Body -->
  <div class="cs-offcanvas-body" *ngFor="let item of carrito_arr">
    <!-- Item -->
    <div class="media p-4 border-bottom mx-n4">
      <a [routerLink]="['/productos/', item.producto.slug]" style="min-width: 80px;">
        <img [src]="url + 'obtener_portada/' + item.producto.portada" width="80" alt="Product thumb">
      </a>
      <div class="media-body pl-3">
        <div class="d-flex justify-content-between">
          <div class="pr-2">
            <h3 class="font-size-sm mb-3">
              <a [routerLink]="['/productos/', item.producto.slug]" class="nav-link font-weight-bold">
                {{item.producto.titulo}}
              </a>
            </h3>
            <ul class="list-unstyled font-size-xs mt-n2 mb-2">
              <li class="mb-0"><span class="text-muted">{{item.producto.titulo_variedad}}:</span> {{item.variedad}}</li>
            </ul>
            <div class="d-flex align-items-center">
              <!-- <input type="number" class="form-control form-control-sm bg-light mr-3" style="width: 4.5rem;"
                value="{{item.cantidad}}" readonly> -->

              <div class="justify-content-between row">
                <div *ngIf="descuento_activo == undefined" class="mb-3">
                  <span class="h5 mb-0 text-muted ml-3"> Precio: S/. {{item.producto.precio}}</span>
                </div>
  
                <div *ngIf="descuento_activo != undefined" class="mb-3">
                  <span class="h5 mb-0 text-danger ml-2">
                    Precio: S/. {{item.producto.precio | descuento: descuento_activo.descuento}}
                  </span>
                  <del class="d-inline-block ml-3 text-muted">
                    <small>
                      Precio: S/. {{item.producto.precio}}
                    </small>
                  </del>
                </div>
              </div>

            </div>
            <!-- <button class="btn btn-link btn-sm text-decoration-none px-0 pb-0">
              Agregar a deseos
              <i class="cxi-heart ml-1"></i>
            </button> -->
          </div>
          <div class="nav-muted mr-n2">
            <a style="cursor: pointer;" class="nav-link px-2 mt-n2 text-danger" title="Eliminar"
              (click)="eliminar_item(item._id)">
              <i class="cxi-delete"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="cs-offcanvas-cap flex-column border-top">
    <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
      <span class="text-muted mr-2">Total a pagar:</span>
      <span class="h5 mb-0">S/. {{subtotal}}</span>
    </div>
    <button [routerLink]="['/carrito-compras']" class="btn btn-danger btn-block" [disabled]="carrito_arr.length == 0">
      <i class="cxi-credit-card font-size-lg mt-n1 mr-1"></i>
      PAGAR
    </button>
  </div>
</div>