<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Cupones</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo permite la creación de cupones de descuento.</p>
    </div>
</div>

<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px">Registro de cupón</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Código de cupón</label>
                    <input class="form-control" type="text" name="codigo" [(ngModel)]="cupon.codigo"
                        placeholder="Código del cupón" required />
                </div>

                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Tipo</label>
                    <select class="form-control custom-select" name="genero" [(ngModel)]="cupon.tipo" required>
                        <option value="" disabled selected>-- Seleccionar --</option>
                        <option value="Porcentaje">Porcentaje</option>
                        <option value="Valor fijo">Valor fijo</option>
                    </select>
                </div>

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Valor</label>
                    <input class="form-control" type="number" name="valor" [(ngModel)]="cupon.valor"
                        placeholder="Valor del descuento" required />
                </div>

                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Límite</label>
                    <input class="form-control" type="number" name="valor" [(ngModel)]="cupon.limite"
                        placeholder="Límite máximo" required />
                </div>

            </div>
        </div>

        <div class="card-footer text-center">
            <button class="btn btn-primary mx-2 bi-clipboard2-plus-fill" type="submit" [disabled]="registroForm.invalid"
                *ngIf="!load_btn"> Crear cupón
            </button>

            <!-- Button with growing spinner and text -->
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Creando...
            </button>
            <a class="btn btn-warning mx-2" [routerLink]="['/panel/cupones']"><i class="cxi-arrow-back"></i></a>
        </div>
    </div>
</form>