<app-nav></app-nav>

<main class="cs-page-weapper">
    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-4" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0 mt-5">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a *ngIf="producto.categoria"
                        [routerLink]="['/productos/categoria/', producto.categoria.toLowerCase()]">
                        {{producto.categoria}} </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{producto.titulo}}</li>
            </ol>
        </div>
    </nav>

    <!-- Page title -->
    <section class="container d-md-flex align-items-center justify-content-between py-2">
        <h1 class="mb-0">{{producto.titulo}}</h1>
    </section>

    <!-- Single product -->
    <section class="container py-5 mb-2">
        <div class="row">
            <div class="col-md-6 mb-md-0 mb-4">

                <!-- Product gallery item -->
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner" *ngIf="producto.galeria">

                        <div class="" *ngFor="let item of producto.galeria; let indice = index">
                            <div class="carousel-item" [ngClass]="{'active': indice == 0}" data-bs-interval="3000">
                                <img [src]="url + 'obtener_portada/' + item.imagen" alt="{{item.imagen}}"
                                    class="d-block w-100 rounded">
                            </div>
                        </div>


                        <button class="carousel-control-prev" type="button"
                            style="background-color: #ffffff00; border: #fff;" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"
                                style="background-color: #9c9c9c7a; border-radius: 5px;"></span>
                        </button>

                        <button class="carousel-control-next" type="button"
                            style="background-color: #ffffff00; border: #fff;" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: #9c9c9c7a; border-radius: 5px;"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-xl-5">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">

                    <!-- Con descuento -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4" *ngIf="descuento_activo != undefined">
                        <span class="h3 d-inline-block mb-0 text-danger" *ngIf="descuento_activo">
                            S/. {{producto.precio | descuento: descuento_activo.descuento}}
                        </span>
                        <del class="d-inline-block ml-2 pl-1 font-size-lg text-muted">S/. {{producto.precio}} </del>
                        <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold"
                            *ngIf="descuento_activo">
                            -{{descuento_activo.descuento}}%
                        </span>
                    </div>
                    <!-- Con descuento por producto -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4"
                        *ngIf="descuento_activo == undefined && producto.descuento > 0">
                        <span class="h3 d-inline-block mb-0">
                            S/. {{producto.precio}}
                        </span>
                        <del class="d-inline-block ml-2 pl-1 font-size-lg text-muted">S/. {{producto.precio +
                            producto.precio * producto.descuento/100 | number: '1.0-0'}} </del>
                        <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold"
                            *ngIf="descuento_activo">
                            -{{descuento_activo.descuento}}%
                        </span>
                        <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold"
                            *ngIf="producto.descuento > 0">
                            -{{producto.descuento}}%
                        </span>
                    </div>

                    <!-- Sin descuento -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4"
                        *ngIf="descuento_activo == undefined && producto.descuento == undefined">
                        <span class="h3 d-inline-block mb-0">
                            Precio: S/. {{producto.precio}}
                        </span>
                    </div>

                </div>

                <!-- Ordering form -->
                <form class="row">
                    <div class="col-6 order-sm-1 order-1">
                        <div class="form-group">
                            <label for="size"> Seleccione la {{producto.titulo_variedad}} </label>
                            <select style="border: solid 1px  rgb(89, 48, 191)" class="form-control custom-select"
                                id="size" name="variedad" [(ngModel)]="carrito_data.variedad"
                                (change)="guardar_variedad()">
                                <option value="" selected disabled> --Seleccionar-- </option>
                                <option *ngFor="let item of producto.variedades" value="{{item.titulo}}">
                                    {{item.titulo}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6 order-2 order-sm-2">
                        <div class="form-group">
                            <label for="">Seleccione la Cantidad</label>
                            <select style="border: solid 1px  rgb(89, 48, 191)" class="form-control custom-select"
                                id="select-input" name="cantidad" [(ngModel)]="carrito_data.cantidad"
                                (change)="guardar_cantidad()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 order-3">
                        <button *ngIf="!btn_cart" class="btn btn-block btn-danger" (click)="agregar_producto()">
                            <i class="cxi-cart"></i>
                            Agregar
                        </button>

                        <!-- Button with growing spinner and text -->
                        <button *ngIf="btn_cart" type="button" class="btn btn-secondary" disabled>
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Agregando...
                        </button>
                    </div>

                    <div class="col-6 order-sm-4 order-4">
                      
                    </div>
                </form>

                <!-- Terms -->
                <!-- Accordion made of cards -->
                <div class="accordion-alt mb-4" id="productTerms">
                  
                </div>

            </div>
        </div>
    </section>

    <!-- Detalles de un producto -->
    <div class="py-5" style="background-color: rgb(233, 219, 250);">
        <section class="container my-lg-2 py-2 py-md-4">
            <div class="row">
                <!-- insertar detalle desde la descripción larga -->
                <div class="col-lg-7 col-md-8 mb-md-0 mb-4" [innerHTML]="producto.contenido">
                </div>

                <div class="col-md-4 offset-lg-1">

                    <!-- Product card carousel -->
                    <div class="card shadow card-product">
                        <div class="card-product-img">
                            <div class="cs-controls-onhover">
                                <a class="cs-carousel-inner">
                                    <div><img class="card-img-top" [src]="url + 'obtener_portada/' + producto.portada"
                                            alt="Product image"></div>

                                </a>
                            </div>
                            <!-- <div class="card-product-widgets-top">
                                <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                    -{{descuento_activo.descuento}}%
                                </span>

                                <span class="badge product-badge badge-danger ml-2" *ngIf="producto.descuento > 0">
                                    -{{producto.descuento}}%
                                </span>
                                <div class="ml-auto star-rating">
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 1}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 2}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 3}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 4}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 5}"></i>
                                </div>
                            </div> -->
                            <div class="card-product-widgets-bottom">
                                <a class="btn-wishlist ml-auto" href="#" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body pb-2 text-center" style="background-color: white;">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a [routerLink]="['/productos/', producto.slug]" class="nav-link"> {{producto.titulo}}
                                </a>
                            </h3>

                            <!-- <div *ngIf="descuento_activo == undefined && producto.descuento == undefined">
                                <span class="h5 d-inline-block mb-0 text-success">S/. {{producto.precio}}</span>
                            </div>

                            <div *ngIf="descuento_activo == undefined && producto.descuento > 0">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{producto.precio}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{producto.precio +
                                    producto.precio*producto.descuento/100 | number: '1.0-0'}}</del>
                            </div>

                            <div *ngIf="descuento_activo != undefined" class="">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{producto.precio | descuento: descuento_activo.descuento}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{producto.precio}}</del>
                            </div> -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="container py-3 mb-2">
        <div class="row">
            <div class="col-lg-7 col-md-8 mb-md-0 mb-3">
                <div class="row mb-sm-5 mb-4 pb-2 pb-md-4">
>
                    <div class="col-sm-7">
                    </div>
                </div>

                <!-- Con review -->
                <ng-container *ngIf="reviews.length >= 1">
                    <div class="mb-4 pb-4 border-bottom">
                        <div class="row"
                            *ngFor="let item of reviews | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                            <div class="col-6 mb-sm-0 mb-3">
                                <h4 class="mb-2 fs-lg"> {{item.cliente.nombres}} {{item.cliente.apellidos}}</h4>
                                <span class="d-block mb-3 fs-sm text-muted"> {{item.createdAt | date}} </span>
                                <div class="mt-n1 star-rating">
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 1}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 2}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 3}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 4}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 5}"></i>
                                </div>
                            </div>
                            <div class="col">
                                <p class="mb-3">
                                    <a class="me-1 text-decoration-none" href="mailto:{{item.cliente.email}}">
                                        <strong>{{item.cliente.email}}</strong>
                                    </a> <br>
                                    {{item.review}}
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Sin review -->
                <ng-container *ngIf="reviews.length == 0">
                  
                </ng-container>

                <!-- Pagination of reviews -->
                <div class="mt-5 row justify-content-center">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="reviews.length">
                    </ngb-pagination>
                </div>
            </div>

            <div class="col-md-4 offset-lg-1">

                <!-- Product card carousel -->
                <div class="card shadow card-product">
                   
                </div>
            </div>
        </div>
    </section>

    <section class="py-2" style="background-color: #e5e8ed;">
        <div class="container my-lg-2 py-md-4">
            <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
                <h2 style="align-items: center;" class="h1 pr-3 mb-0">Productos recomendados</h2>
                <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-related" tabindex="0">
                    <button type="button" data-controls="prev" tabindex="-1">
                        <i class="cxi-arrow-left"></i>
                    </button>
                    <button type="button" data-controls="next" tabindex="-1">
                        <i class="cxi-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="cs-carousel">
                <div class="cs-carousel-inner-two" data-carousel-options=''>

                    <!-- Item -->
                    <div *ngFor="let item of productos_rec">
                        <div class="card shadow card-product mx-auto text-center mb-5">
                            <div class="card-product-img">
                                <a [routerLink]="['/productos/', item.slug]" target="_blank" class="card-img-top">
                                    <img [src]="url + 'obtener_portada/' + item.portada" alt="Product image">
                                </a>
                                <div class="card-product-widgets-bottom">
                                    <a [routerLink]="['/productos/', item.slug]" target="_blank"
                                        class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                        title="Add to wishlist"></a>
                                </div>
                            </div>
                            <div class="card-body bg-0 pb-2 text-center">
                                <h3 class="card-product-title text-truncate mb-2">
                                    <a [routerLink]="['/productos/', item.slug]" target="_blank" class="nav-link">
                                        {{item.titulo}} </a>
                                </h3>
                                <div>
                                    <span class="h5 d-inline-block mb-0 text-success">S/. {{item.precio}} </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>