<app-nav></app-nav>

<main class="cs-page-weapper">
    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-4" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0 mt-5">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a *ngIf="producto.categoria"
                        [routerLink]="['/productos/categoria/', producto.categoria.toLowerCase()]">
                        {{producto.categoria}} </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{producto.titulo}}</li>
            </ol>
        </div>
    </nav>

    <!-- Page title -->
    <section class="container d-md-flex align-items-center justify-content-between py-2">
        <h1 class="mb-0">{{producto.titulo}}</h1>
    </section>

    <!-- Single product -->
    <section class="container py-5 mb-2">
        <div class="row">
            <div class="col-md-6 mb-md-0 mb-4">

                <!-- Product gallery -->

                <!-- Product gallery item -->
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner" *ngIf="producto.galeria">

                        <div class="" *ngFor="let item of producto.galeria; let indice = index">
                            <div class="carousel-item" [ngClass]="{'active': indice == 0}" data-bs-interval="3000">
                                <img [src]="url + 'obtener_portada/' + item.imagen" alt="{{item.imagen}}"
                                    class="d-block w-100 rounded">
                            </div>
                        </div>


                        <button class="carousel-control-prev" type="button"
                            style="background-color: #ffffff00; border: #fff;" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"
                                style="background-color: #9c9c9c7a; border-radius: 5px;"></span>
                        </button>

                        <button class="carousel-control-next" type="button"
                            style="background-color: #ffffff00; border: #fff;" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: #9c9c9c7a; border-radius: 5px;"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-xl-5">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">

                    <!-- Con descuento -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4" *ngIf="descuento_activo != undefined">
                        <span class="h3 d-inline-block mb-0 text-danger" *ngIf="descuento_activo">
                            S/. {{producto.precio | descuento: descuento_activo.descuento}}
                        </span>
                        <del class="d-inline-block ml-2 pl-1 font-size-lg text-muted">S/. {{producto.precio}} </del>
                        <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold"
                            *ngIf="descuento_activo">
                            -{{descuento_activo.descuento}}%
                        </span>
                    </div>
                    <!-- Con descuento por producto -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4"
                        *ngIf="descuento_activo == undefined && producto.descuento > 0">
                        <span class="h3 d-inline-block mb-0">
                            S/. {{producto.precio}}
                        </span>
                        <del class="d-inline-block ml-2 pl-1 font-size-lg text-muted">S/. {{producto.precio +
                            producto.precio * producto.descuento/100 | number: '1.0-0'}} </del>
                        <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold"
                            *ngIf="descuento_activo">
                            -{{descuento_activo.descuento}}%
                        </span>
                        <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold"
                            *ngIf="producto.descuento > 0">
                            -{{producto.descuento}}%
                        </span>
                    </div>

                    <!-- Sin descuento -->
                    <div class="d-flex align-items-center mb-sm-0 mb-4"
                        *ngIf="descuento_activo == undefined && producto.descuento == undefined">
                        <span class="h3 d-inline-block mb-0"> 
                            Precio: S/. {{producto.precio}}
                        </span>
                    </div>

                    <!-- Rating -->
                    <!-- <div class="text-sm-right">
                        <div class="star-rating pb-1">
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 1}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 2}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 3}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 4}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 5}"></i>
                        </div>
                        <span class="font-size-sm text-muted">{{reviews.length}} reseñas</span>
                    </div> -->
                </div>

                <!-- Ordering form -->
                <form class="row">
                    <div class="col-6 order-sm-1 order-1">
                        <div class="form-group">
                            <label for="size"> Seleccione la {{producto.titulo_variedad}} </label>
                            <select style="border: solid 1px  rgb(89, 48, 191)" class="form-control custom-select" id="size" name="variedad"
                                [(ngModel)]="carrito_data.variedad" (change)="guardar_variedad()">
                                <option value="" selected disabled> --Seleccionar-- </option>
                                <option *ngFor="let item of producto.variedades" value="{{item.titulo}}">
                                    {{item.titulo}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6 order-2 order-sm-2">
                        <div class="form-group">
                            <label for="">Seleccione la Cantidad</label>
                            <select style="border: solid 1px  rgb(89, 48, 191)" class="form-control custom-select" id="select-input" name="cantidad"
                                [(ngModel)]="carrito_data.cantidad" (change)="guardar_cantidad()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 order-3">
                        <button *ngIf="!btn_cart" class="btn btn-block btn-danger" (click)="agregar_producto()">
                            <i class="cxi-cart"></i>
                            Añadir
                        </button>

                        <!-- Button with growing spinner and text -->
                        <button *ngIf="btn_cart" type="button" class="btn btn-secondary" disabled>
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Agregando...
                        </button>
                    </div>

                    <div class="col-6 order-sm-4 order-4">
                        <!-- <button class="btn btn-block btn-outline-primary px-lg-4">
                            <i class="cxi-heart"></i>
                            Lista de deseos
                        </button> -->
                    </div>
                </form>

                <!-- Terms -->
                <!-- Accordion made of cards -->
                <div class="accordion-alt mb-4" id="productTerms">

                    <!-- Card -->
                    <!-- <div class="card border-bottom">
                        <div class="card-header" id="delivery-card">
                            <h6 class="accordion-heading">
                                <a href="#delivery" class="show" role="button" data-toggle="collapse"
                                    aria-expanded="false" aria-controls="delivery">Envío
                                    <span class="accordion-indicator"></span>
                                </a>
                            </h6>
                        </div>
                        <div class="show" id="delivery" aria-labelledby="delivery-card" data-parent="#productTerms">
                            <div class="card-body">

                                EL envío de nuestros productos fuera de Ayacucho, se realizará a través de
                                <strong>empresas de envío</strong> como <em> (Olva courrier, Shalom y más).</em>
                                <br><br>
                                Toda la información necesaria del producto y envío, se enviará al correo del cliente
                                cuando confirmemos su compra: Le invitamos a revisar su E-mail, <strong>gracias por su
                                    comprensión</strong>.
                            </div>
                        </div>
                    </div> -->

                    <!-- Card -->
                    <!-- <div class="card border-bottom">
                        <div class="card-header" id="return-card">
                            <h6 class="accordion-heading">
                                <a class="collapsed" href="#return" role="button" data-toggle="collapse"
                                    aria-expanded="false" aria-controls="return">Devoluciones
                                    <span class="accordion-indicator"></span>
                                </a>
                            </h6>
                        </div>
                        <div class="collapse pb-2" id="return" aria-labelledby="return-card"
                            data-parent="#productTerms">
                            Tiene <strong>7 días</strong> para devolver el producto a través de la empresa de envío,
                            puede revisar más sobre devoluciones en nuestos
                            <a [routerLink]="['/terminos-condiciones']" class="text-decoration-none"><strong>términos y
                                    condiciones</strong></a>.
                        </div>
                    </div> -->
                </div>

                <!-- Payment -->
                <!-- <div class="pb-3 text-nowrap text-center" data-simplebar data-simplebar-auto-hide="false">
                    <h5>Aceptamos pagos mediante: </h5>
                    <a class="d-inline-block mb-3 mr-4 mr-3">
                        <img src="assets/img/visa.jpg" alt="Visa" class="border rounded">
                    </a>
                    <a class="d-inline-block mb-3 mr-4 mr-3">
                        <img src="assets/img/master-card.jpg" alt="Mastercard" class="border rounded">
                    </a>
                    <a class="d-inline-block mr-4 mb-3">
                        <img src="assets/img/pay-pal.jpg" alt="PayPal" class="border rounded">
                    </a>
                    <a class="d-inline-block mb-3">
                        <img src="assets/img/trans.png" alt="Transferencia" class="border rounded">
                    </a>
                </div> -->
            </div>
        </div>
    </section>

    <!-- Detalles de un producto -->
    <div class="py-5" style="background-color: rgb(233, 219, 250);">
        <section class="container my-lg-2 py-2 py-md-4">
            <div class="row">
                <!-- insertar detalle desde la descripción larga -->
                <div class="col-lg-7 col-md-8 mb-md-0 mb-4" [innerHTML]="producto.contenido">
                </div>

                <div class="col-md-4 offset-lg-1">

                    <!-- Product card carousel -->
                    <div class="card shadow card-product">
                        <div class="card-product-img">
                            <div class="cs-controls-onhover">
                                <a class="cs-carousel-inner">
                                    <div><img class="card-img-top" [src]="url + 'obtener_portada/' + producto.portada"
                                            alt="Product image"></div>

                                </a>
                            </div>
                            <div class="card-product-widgets-top">
                                <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                    -{{descuento_activo.descuento}}%
                                </span>

                                <span class="badge product-badge badge-danger ml-2" *ngIf="producto.descuento > 0">
                                    -{{producto.descuento}}%
                                </span>
                                <div class="ml-auto star-rating">
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 1}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 2}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 3}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 4}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 5}"></i>
                                </div>
                            </div>
                            <div class="card-product-widgets-bottom">
                                <a class="btn-wishlist ml-auto" href="#" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body pb-2 text-center" style="background-color: white;">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a [routerLink]="['/productos/', producto.slug]" class="nav-link"> {{producto.titulo}}
                                </a>
                            </h3>

                            <div *ngIf="descuento_activo == undefined && producto.descuento == undefined">
                                <span class="h5 d-inline-block mb-0 text-success">S/. {{producto.precio}}</span>
                            </div>

                            <div *ngIf="descuento_activo == undefined && producto.descuento > 0">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{producto.precio}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{producto.precio +
                                    producto.precio*producto.descuento/100 | number: '1.0-0'}}</del>
                            </div>

                            <div *ngIf="descuento_activo != undefined" class="">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{producto.precio | descuento: descuento_activo.descuento}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{producto.precio}}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="container py-3 mb-2">
        <div class="row">
            <div class="col-lg-7 col-md-8 mb-md-0 mb-3">
                <div class="row mb-sm-5 mb-4 pb-2 pb-md-4">

                    <!-- Rating -->
                    <!-- <div class="col-sm-5 mb-sm-0 mb-4">
                        <h3 class="h2 mb-3 pb-1"> {{reviews.length}} reseñas</h3>
                        <div class="star-rating mb-3 pb-1">
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 1}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 2}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 3}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 4}"></i>
                            <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 5}"></i>
                        </div>
                        <span class="text-muted">
                            {{count_five_stars + count_four_stars}} de cada {{reviews.length}} ({{porcent_rating}}%)
                            <br>
                            Compradores recomiendan el producto.
                        </span>
                    </div> -->

                    <!-- Reviews -->
                    <div class="col-sm-7">

                        <!-- 5 stars -->
                        <!-- <div class="d-flex align-items-center mb-2">
                            <div class="text-nowrap text-muted mr-3">
                                <span class="d-inline-block align-middle">5</span>
                                <i class="cxi-star font-size-sm align-middle ml-1"></i>
                            </div>
                            <div class="w-100">
                                <div class="progress" style="height: 4px;">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        [ngStyle]="{width: porcent_five_stars + '%'}" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <span class="text-muted ml-3"> {{count_five_stars}} </span>
                        </div> -->

                        <!-- 4 stars -->
                        <!-- <div class="d-flex align-items-center mb-2">
                            <div class="text-nowrap text-muted mr-3">
                                <span class="d-inline-block align-middle">4</span>
                                <i class="cxi-star font-size-sm align-middle ml-1"></i>
                            </div>
                            <div class="w-100">
                                <div class="progress" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{width: porcent_four_stars + '%'}" style="background-color: #a7e453;"
                                        aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <span class="text-muted ml-3"> {{count_four_stars}} </span>
                        </div> -->

                        <!-- 3 stars -->
                        <!-- <div class="d-flex align-items-center mb-2">
                            <div class="text-nowrap text-muted mr-3">
                                <span class="d-inline-block align-middle">3</span>
                                <i class="cxi-star font-size-sm align-middle ml-1"></i>
                            </div>
                            <div class="w-100">
                                <div class="progress" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{width: porcent_three_stars + '%'}"
                                        style="background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <span class="text-muted ml-3"> {{count_three_stars}} </span>
                        </div> -->

                        <!-- 2 stars -->
                        <!-- <div class="d-flex align-items-center mb-2">
                            <div class="text-nowrap text-muted mr-3">
                                <span class="d-inline-block align-middle">2</span>
                                <i class="cxi-star font-size-sm align-middle ml-1"></i>
                            </div>
                            <div class="w-100">
                                <div class="progress" style="height: 4px;">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [ngStyle]="{width: porcent_two_stars + '%'}" aria-valuenow="9" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <span class="text-muted ml-3"> {{count_two_stars}} </span>
                        </div> -->

                        <!-- 1 star -->
                        <!-- <div class="d-flex align-items-center">
                            <div class="text-nowrap text-muted mr-3">
                                <span class="d-inline-block align-middle">1</span>
                                <i class="cxi-star font-size-sm align-middle ml-1"></i>
                            </div>
                            <div class="w-100">
                                <div class="progress" style="height: 4px;">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                        [ngStyle]="{width: porcent_one_stars + '%'}" aria-valuenow="4" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <span class="text-muted ml-3"> {{count_one_stars}} </span>
                        </div> -->
                    </div>
                </div>

                <!-- Button + sorting -->
                <!-- <div class="d-flex align-items-center justify-content-between mb-4 pb-2 pb-sm-4">
                    <a href="#modal-review" data-toggle="modal" class="btn btn-primary">Leave a review</a>
                    <div class="form-inline">
                        <label for="sort-orders" class="d-none d-sm-block font-weight-bold mr-2 pr-1">Sort by</label>
                        <select id="sort-orders" class="custom-select">
                            <option>Newest</option>
                            <option>Oldest</option>
                            <option>High rating</option>
                            <option>Low rating</option>
                        </select>
                    </div>
                </div> -->

                <!-- Con review -->
                <ng-container *ngIf="reviews.length >= 1">
                    <div class="mb-4 pb-4 border-bottom">
                        <div class="row"
                            *ngFor="let item of reviews | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                            <div class="col-6 mb-sm-0 mb-3">
                                <h4 class="mb-2 fs-lg"> {{item.cliente.nombres}} {{item.cliente.apellidos}}</h4>
                                <span class="d-block mb-3 fs-sm text-muted"> {{item.createdAt | date}} </span>
                                <div class="mt-n1 star-rating">
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 1}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 2}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 3}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 4}"></i>
                                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >= 5}"></i>
                                </div>
                            </div>
                            <div class="col">
                                <p class="mb-3">
                                    <a class="me-1 text-decoration-none" href="mailto:{{item.cliente.email}}">
                                        <strong>{{item.cliente.email}}</strong>
                                    </a> <br>
                                    {{item.review}}
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Sin review -->
                <ng-container *ngIf="reviews.length == 0">
                    <!-- <div class="col-lg-12 card align-items-center py-4 rounded my-3"
                        style="background-color: rgb(255, 207, 207); border-color: rgb(255, 66, 66);">
                        <h4 class="text-danger">
                            Este producto no tiene reseñas</h4>

                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#FF4242"
                            class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                            <path
                                d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                            <path
                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                        </svg>
                    </div> -->
                </ng-container>

                <!-- Pagination of reviews -->
                <div class="mt-5 row justify-content-center">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="reviews.length">
                    </ngb-pagination>
                </div>
            </div>

            <div class="col-md-4 offset-lg-1">

                <!-- Product card carousel -->
                <div class="card shadow card-product">
                    <!-- <div class="card-product-img">
                        <div class="cs-controls-onhover">
                            <a class="cs-carousel-inner">
                                <div><img class="card-img-top" [src]="url + 'obtener_portada/' + producto.portada"
                                        alt="Product image"></div>

                            </a>
                        </div>
                        <div class="card-product-widgets-top">
                            <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                -{{descuento_activo.descuento}}%
                            </span>

                            <span class="badge product-badge badge-danger ml-2" *ngIf="producto.descuento > 0">
                                -{{producto.descuento}}%
                            </span>
                            <div class="ml-auto star-rating">
                                <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 1}"></i>
                                <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 2}"></i>
                                <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 3}"></i>
                                <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 4}"></i>
                                <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_rating >= 5}"></i>
                            </div>
                        </div>
                        <div class="card-product-widgets-bottom">
                            <a class="btn-wishlist ml-auto" href="#" data-toggle="tooltip" data-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div> -->
                    <!-- <div class="card-body pb-2 text-center" style="background-color: white;">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a [routerLink]="['/productos/', producto.slug]" class="nav-link"> {{producto.titulo}} </a>
                        </h3>

                        <div *ngIf="descuento_activo == undefined && producto.descuento == undefined">
                            <span class="h5 d-inline-block mb-0 text-warning">S/. {{producto.precio}}</span>
                        </div>

                        <div *ngIf="descuento_activo == undefined && producto.descuento > 0">
                            <span class="h5 d-inline-block mb-0 text-danger">
                                S/. {{producto.precio}}
                            </span>
                            <del class="d-inline-block ml-3 text-muted">S/. {{producto.precio +
                                producto.precio*producto.descuento/100 | number: '1.0-0'}}</del>
                        </div>

                        <div *ngIf="descuento_activo != undefined" class="">
                            <span class="h5 d-inline-block mb-0 text-danger">
                                S/. {{producto.precio | descuento: descuento_activo.descuento}}
                            </span>
                            <del class="d-inline-block ml-3 text-muted">S/. {{producto.precio}}</del>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="py-2" style="background-color: #e5e8ed;">
        <div class="container my-lg-2 py-md-4">
            <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
                <h2 style="align-items: center;" class="h1 pr-3 mb-0">Productos recomendados</h2>
                <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-related" tabindex="0">
                    <button type="button" data-controls="prev" tabindex="-1">
                        <i class="cxi-arrow-left"></i>
                    </button>
                    <button type="button" data-controls="next" tabindex="-1">
                        <i class="cxi-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="cs-carousel">
                <div class="cs-carousel-inner-two" data-carousel-options=''>

                    <!-- Item -->
                    <div *ngFor="let item of productos_rec">
                        <div class="card shadow card-product mx-auto text-center mb-5">
                            <div class="card-product-img">
                                <a [routerLink]="['/productos/', item.slug]" target="_blank" class="card-img-top">
                                    <img [src]="url + 'obtener_portada/' + item.portada" alt="Product image">
                                </a>
                                <div class="card-product-widgets-bottom">
                                    <a [routerLink]="['/productos/', item.slug]" target="_blank"
                                        class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                        title="Add to wishlist"></a>
                                </div>
                            </div>
                            <div class="card-body bg-0 pb-2 text-center">
                                <h3 class="card-product-title text-truncate mb-2">
                                    <a [routerLink]="['/productos/', item.slug]" target="_blank" class="nav-link">
                                        {{item.titulo}} </a>
                                </h3>
                                <div>
                                    <span class="h5 d-inline-block mb-0 text-success">S/. {{item.precio}} </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>