<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-4 mb-5">
    <h1 style="color: rgb(89, 48, 191);" class="mt-2 mt-md-4 mb-3 pt-5">Panel de Ventas</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between"></div>
</div>

<div class="card box-shadow-sm">

    <div class="card-body">

        <ng-container *ngFor="let item of ventas | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
            <div class="shadow rounded px-4">
                <div class="row mt-5 justify-content-between">
                    <div class="col">
                        <h3 class="h5 mb-1 nav-dark">
                            <a style="color: rgb(82, 0, 0);" class="nav-link"> {{item.cliente.nombres}}
                                {{item.cliente.apellidos}} </a>
                        </h3>
                    </div>
                </div>

                <div  class="row">
                    <div class="col-6">
                        <li class="nav-item mr-2">
                            <h6 class="mb-0">Identificación de la venta</h6>
                            <a class="nav-link d-inline-block mr-2 p-0 font-size-sm font-weight-normal">
                                <i class="mt-n1 mr-2 font-size-base align-middle"></i>{{item._id | uppercase}}
                            </a>
                        </li>
                    </div>

                    <div class="col-6">
                        <li class="nav-item mr-2">
                                <h6 class="mb-0">Fecha de venta</h6>
                                <a class="nav-link d-inline-block mr-2 p-0 font-size-sm font-weight-normal">
                                    {{item.createdAt | date}}
                                </a>
                                <span class="text-border px-1">|</span>
                            </li>
                    </div>

                    <div class="col-12 mb-3 mt-3">
                        <div class="d-flex align-items-center">
                            <span style="color: red;" class="h5 d-inline-block mb-0">S/. {{item.subtotal}} </span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-muted mb-2 pb-1">
                        </ul>
                    </div>
                    
                </div>
            </div>

        </ng-container>
    </div>
    
</div>